body {
    font-family: Helvetica;
    height: 800px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image:url('./components/img/Blue.png');

  }

.list {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.list__items{

    display: flex;
    width: 100%;
    height: auto;
    justify-content: start;
    align-items: start;
    background-color: aliceblue;
    border-radius: 5px;

}

.list__item{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: start;


}

.list__item > img {
    width: 20%;
    height: auto;
    left: 0;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 20px;
}

.btns{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 5px;
}